html, body {
    height: 100%;
}

#navbar {
    background-image: linear-gradient(#455a64, #000, #455a64);
}

label {
    /*font-family: 'Luckiest Guy', cursive;*/
    /*font-family: 'Titan One', cursive;*/
    /*font-family: 'Notable', sans-serif;*/
    font-family: 'Bungee Inline', cursive;
    color: white !important;
}

th {
    font-family: 'Luckiest Guy', cursive;
    /*font-family: 'Titan One', cursive;*/
    /*font-family: 'Notable', sans-serif;*/
}

td {
    font-family: 'Luckiest Guy', cursive;
    /*font-family: 'Titan One', cursive;*/
    /*font-family: 'Notable', sans-serif;*/
}

input::-webkit-input-placeholder {
    color: white !important;
}

input{
    color: white;
}

body {
    background-image: linear-gradient(to right, #BFC0BF , #0085CA, #BFC0BF);
    background-size: cover;
}
/*Neon*/
p {
    text-align: center;
    font-size: 7em;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

p:nth-child(1) a {
    color: #fff;
    font-family: 'Bungee Inline', cursive;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

p:nth-child(1) a:hover {
    color: #228DFF;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.container1 {
    position: relative;
    /*top: 100%;*/
    transform: translateY(300%); /* changed to get loading in the center of screen */
    text-align: center;
    font-family: 'Titan One', cursive;
}

.brand-logo {
    font-family: 'Titan One', cursive;
    margin-left: 1em;
}

.main-header {
    text-shadow: 4px 4px 5px white;
    font-family: 'Bungee Inline', cursive;
}

#codeup{
    margin-top: 130px;
    color: black;
}

#moviePoster {
    width: 100%;
    border: solid black 1px;
    height: 55vh;
    margin-bottom: 1em;
    background-image: radial-gradient(circle, dodgerblue, #90a4ae, black);
    /*margin: 0;*/
}

/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

/* Logo Intro Animation */
.intro {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-family: 'Titan One', cursive;
    margin-left: 1em;
    font-size: 30px;
    background: -webkit-linear-gradient(#eee, #00e5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h4 {
    background: -webkit-linear-gradient(#00e5ff, #00e5ff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro:first-of-type {
    animation: showup 7s infinite;
}

.intro:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

.intro:last-of-type span {
    margin-left:-500px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:500px;}
    80% {opacity:1;}
    100% {opacity:0;width:500px;}
}

.cssload-loader {
    width: 300px;
    height: 50px;
    line-height: 49px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size:20px;
    color: rgb(206,66,51);
    letter-spacing: 0.2em;
}

.cssload-loader::before, .cssload-loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: rgb(206,66,51);
    position: absolute;
    animation: cssload-load 0.81s infinite alternate ease-in-out;
    -o-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}

.cssload-loader::before {
    top: 100px;
}

.cssload-loader::after {
    bottom: 100;
}

/*loading*/
@keyframes
cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }

}

@-o-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }

}

@-ms-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }

}

@-webkit-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }

}

@-moz-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }

}

